@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --font-judul: "Figtree", sans-serif;
    --font-subjudul: "Nunito Sans", sans-serif;

    /* Color */
    --yellow: #eab201;
    --grey: #fcfcfc;
    --darkgreen: #006680;
    --orange: #ff9d05;
    --green: #23a455;
    --green: #4285f4;
    --black: #001524;

    /* Font-size */
    --font-size-judul: clamp(24px, 4vw, 48px);
    --font-size-subjudul: clamp(14px, 1.5vw, 28px);
    --font-size-khusus: clamp(14px, 4.5vw, 48px);
}

/* Tampilan Mobile */
.wrap {
    max-width: 1543px;
}

.container {
    padding: 0px 20px;
}

/* Navigation */
header {
    padding: 10px 0px;
    background-color: #fcfcfc;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container > img {
    width: 80px;
    height: auto;
}

header .container nav {
    visibility: hidden;
}

header .container .burger-menu {
    border-radius: 4px;
    padding: 5px 5px 2px 5px ;
}

/* Hero */
.hero {
    background-color: #fcfcfc;
}

.hero .container {
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    
}


.hero .container .img-hero {
    order: -1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container .cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero .container .img-hero > img {
    width: 70%;
}


.hero .container .cta > h1 {
    font-family: var(--font-judul);
    font-size: var(--font-size-judul);
    width: 80%;
}

.hero .container .cta > p {
    font-family: var(--font-subjudul);
    font-size: var(--font-size-subjudul);
    width: 90%;
    margin: 15px 0px;
}

.hero .container .cta > a {
    text-decoration: none;
    padding: 13px 15px;
    color: white;
    font-weight: 600;
    font-family: var(--font-judul);
    border-radius: 4px;
    font-size: var(--font-size-subjudul);
}

/* Section Satu */
.section-satu {
    padding: 30px 0px;
}

.section-satu .container .gambar {
    display: flex;
    justify-content: center;
}

.section-satu .container .gambar > img {
    width: 70%;
}

.section-satu .container .teks > h2 {
    font-family: var(--font-judul);
    font-size: var(--font-size-judul);
    padding: 10px 0px;
}

.section-satu .container .teks > p {
    font-family: var(--font-subjudul);
    font-size: var(--font-size-subjudul);
    padding: 10px 0px 0px 0px ;
}

/* Section Dua */
.section-dua {
    padding: 30px 0px;
    background-color: #fcfcfc;
}

.section-dua .container .teks > h2 {
    font-family: var(--font-judul);
    font-size: var(--font-size-judul);
    padding: 0px 0px 10px 0px;
}

.section-dua .container .teks > p {
    font-family: var(--font-subjudul);
    font-size: var(--font-size-subjudul);
    padding: 10px 0px ;
}

.section-dua .container .gambar {
    display: flex;
    justify-content: center;
    
}

.section-dua .container .gambar > img {
    width: 70%;
}

/* Section Tiga */
.section-tiga {
    padding: 30px 0px;
}

.section-tiga .container .gambar {
    justify-content: center;
    display: flex;
}

.section-tiga .container .gambar > img {
    width: 65%;
}

.section-tiga .container .teks > h2 {
    font-family: var(--font-judul);
    font-size: var(--font-size-judul);
    padding: 10px 0px;
}

.section-tiga .container .teks > p {
    font-family: var(--font-subjudul);
    font-size: var(--font-size-subjudul);
}

/* Section Empat */
.section-empat {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: orange;
}

.section-empat > h2 {
    font-family: var(--font-judul);
    font-size: var(--font-size-judul);
    color: white;
    width: 75%;
    margin: 10px;
}

.section-empat .container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.section-empat .container div {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 60px;
}

.section-empat .container div > img {
    width: 50%;
}

.section-empat .container div > h3 {
    font-family: var(--font-judul);
    font-size: var(--font-size-khusus);
}

.section-empat .container .step-satu > img {
    width: 35%;
}

.section-empat > a {
    text-decoration: none;
    color: white;
    font-family: var(--font-judul);
    padding: 8px 13px;
    margin: 10px;
    border-radius: 2px;
}

/* Triangle Down */
.triangle-down {
    height: 0;
    width: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 13px solid var(--darkgreen);
}

.wrap-triangle {
    display: flex;
    justify-content: center;
}

/* Section Lima */
.section-lima {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    gap: 30px;
}

.section-lima > h2 {
    width: 80%;
    text-align: center;
    font-family: var(--font-judul);
    font-size: var(--font-size-judul);
}

.section-lima .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
}

.section-lima .container .card {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(209,209,209,1);
    box-shadow: 0px 0px 2px 1px rgba(209,209,209,1);
}

.section-lima .container .card > div {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-lima .container .card div h2 {
    font-family: var(--font-judul);
    font-size: var(--font-size-judul);
}


.section-lima .container .card div p {
    font-family: var(--font-size-subjudul);
    font-size: var(--font-size-subjudul);
}

.section-lima .container .card div a {
    text-decoration: none;
    font-family: var(--font-judul);
}

.section-lima .container .card img {
    width: 100%;
}

.section-lima > a {
    text-decoration: none;
    padding: 8px 13px;
    background-color: var(--yellow);
    color: white;
    font-family: var(--font-judul);
    border-radius: 2px;
}

/* Section Enam */
.section-enam {
    padding: 50px 0px;
}


.section-enam .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section-enam .container > h2 {
    font-family: var(--font-judul);
}



.section-enam .container .sekretariat > p {
    background-color: var(--darkgreen);
    color: white;
    padding: 13px 32px;
    font-family: var(--font-judul);
    border-radius: 2px;
    text-align: center;
}

.section-enam .container .info-sekretariat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.section-enam .container .info-sekretariat div .teks .btn-section {
    display: flex;
    justify-content: space-around;
}

.section-enam .container .info-sekretariat div .teks .btn-section 
a:nth-child(1) {
    text-decoration: none;
    background-color: #23a455;
    color: white;
    padding: 8px 13px;
    border-radius: 15px;
    display: flex;
    gap: 5px;
}

.section-enam .container .info-sekretariat div .teks .btn-section 
a:nth-child(2) {
    text-decoration: none;
    display: flex;
    gap: 5px;
    background-color: var(--orange);
    color:white;
    padding: 8px 13px;
    border-radius: 15px;
}

.section-enam .container .info-sekretariat div .teks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-enam .container .info-sekretariat div .teks > h3 {
    font-family: var(--font-judul);
}

.section-enam .container .info-sekretariat div .teks > p {
    font-family: var(--font-subjudul);
    font-size: var(--font-size-subjudul);
}

/* Footer */
footer {
    background-color: var(--black);
}

footer .container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

footer .container .social-media {
    display: flex;
    gap: 40px;
}

footer .container > p {
    color: white;
    font-family: var(--font-judul);
    font-size: var(--font-size-subjudul);
}

footer .container .social-media > a {
    text-decoration: none;
    color: white;
}

/* Tampilan Tablet / iPad */
@media (min-width: 768px) {
    header .container nav {
        visibility: visible;
        display: flex;
        gap: 20px;
    }

    header .container nav > a {
        text-decoration: none;
        color: black;
        font-family: var(--font-judul);
    }

    header .container .burger-menu {
        display: none;
    }

    .hero .container {
        flex-direction: row;
        padding: 30px 96px;
    }

    .hero .container .cta {
        justify-content: space-between;
        justify-content: start;
        align-items: start;
        text-align: left;
        padding: 0px;
        margin: 0p;
        width: 60%;
    }

    .hero .container .cta > h1 {
        padding: 0px;
        margin: 0px;
    }

    .hero .container .img-hero {
        width: 40%;
        order: 2;
    }

    .hero .container .img-hero > img {
        width: 100%;
    }

    .section-satu .container {
        display: flex;
        flex-direction: row;
        padding: 20px 96px;
        gap: 10px;
        
    }

    .section-satu .container .gambar {
        padding: 10px;
        width: 40%;
    }

    .section-satu .container .teks {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .section-dua .container {
        display: flex;
        flex-direction: row;
        padding: 20px 96px;
        gap: 10px;
    }

    .section-dua .container .teks {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .section-dua .container .gambar {
        width: 40%;
    }

    .section-tiga .container {
        display: flex;
        flex-direction: row;
        padding: 20px 96px;
        gap: 10px;
    }

    .section-tiga .container .gambar {
        width: 40%;
    
    }

    .section-tiga .container .gambar > img {
        width: 80%;
    }

    .section-tiga .container .teks {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .section-empat .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-empat .container > div {
        width: 25%;
    }

    .section-empat .container div > h3 {
        font-size: var(--font-size-subjudul);
    }

    /* Section Lima */
    .section-lima .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-lima .container .card {
        width: 30%;
    }

    /* Section Enam */
    .section-enam .container .info-sekretariat {
        flex-direction: row;
    }

    .section-enam .container .info-sekretariat div:nth-child(2) {
        background-color: #23a455;
        width: 40%;
    }

    /* Footer */
    footer .container {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }
        
    

}

/* Tampilan Laptop / Macbook */
@media (min-width: 1024px) {

}

/* Tampilan Desktop */
@media (min-width: 1280px) {

}